/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#rootGallery{
   -fx-background-image:url("https://64.media.tumblr.com/97ab2bdfecc3f3477a2e277d0e0947e4/2cddeff16ecf7a79-63/s1280x1920/decad1dfe0474b78cf65e3dec04384561a4e84ad.gifv");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 700 600;
    -fx-background-position: center center;
}

.button{
/*    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;*/

    -fx-background-color: linear-gradient(to bottom, #FFD700, #FFA500);
    -fx-border-color: #ffe4b5;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px; 
    
    -fx-font-family: "Impact";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: lightgray;
}


#contenedorProyUsuarios{
    -fx-border-color: #B01E68;
    -fx-border-width: 4px;
    
    -fx-background-color: #FFE15D;
}

/*.imageView{
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}*/

.mi-vbox{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #F49D1A;
    -fx-cursor: hand;
}

.mi-vbox:hover{
    -fx-background-color: #c3d1aa;
}

.label{
    -fx-font-family: "Impact";
    -fx-font-size: 10px;
}